{% extends "index.html" %}
{% load humanize %}

{% block application %}

    <form action="" method="get" class="search-form">
    <b>Цена</b> {{ form }}
    <input type="submit" value="Поиск">
    </form>

    <div class="houses">
        {% for house in houses %}
            <div class="house">
                <a href="{% url 'house' house.id %}" class="img">
                    {% if house.photo %}
                        <img src="{{ house.photo.url }}" alt="{{ house.name }}">
                    {% endif %}
                </a>
                <h2><a href="{% url 'house' house_id=house.id %}">{{ house.name }}</a></h2>
                <div>
                    <b>Цена:</b> {{ house.price| intcomma }}$<br>
                    <b>Описание:</b> {{ house.description }}<br>
                    <b>Дата:</b> {{ house.date }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
